* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  background: #f4f6f9;
}

button {
  width: 120px;
  height: 50px;
  background: #172646;
  color: white;
  border: none;
  border-radius: 20px;
  margin-right: 15px;
  cursor: pointer;
}

button:hover {
  background: #1f2933;
  color: #fff;
}

.sidebar {
  width: 240px;
  background: #111827;
}

.sidebar h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

.nav a {
  text-decoration: none;
  color: #c7d2fe;
  padding: 12px 14px;
  border-radius: 8px;
  margin-bottom: 6px;
  display: block;
  font-size: 14px;
  cursor: pointer;
}
.nav a:hover,
.nav a.active {
  background: #1f2933;
  color: #fff;
}

/* Main Content */
.main {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.header h1 {
  font-size: 22px;
  margin: 0;
}
.user-box {
  background: #fff;
  padding: 10px 14px;
  border-radius: 8px;
  font-size: 14px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

/* Cards */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 16px;
  margin-bottom: 40px;
}
.card {
  background: #fff;
  padding: 18px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  margin-bottom: 15px;
}
.card h3 {
  margin: 0 0 8px;
  font-size: 16px;
}
.card p {
  margin-bottom: 10px;
  font-size: 15px;
  color: #555;
}

.card form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 24px;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
}
th,
td {
  padding: 14px;
  text-align: left;
  font-size: 14px;
}
th {
  background: #f1f5f9;
  font-weight: 600;
}
tr:not(:last-child) {
  border-bottom: 1px solid #e5e7eb;
}

/* Form */

.form {
  max-width: 420px;
  background: #fff;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
}
.form input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.form label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #555;
}

.option-bar {
  margin-bottom: 20px;
}

.option-bar button {
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 20px;
  margin-right: 15px;
}

.scheduleClass-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.stat-value {
  font-size: 32px;
  font-weight: bold;
  margin: 10px 0;
}

p.stat-status {
  color: green;
}
