@import url('GENERAL-LAYOUT.css');

body {
  min-height: 100vh;
  background: #f5f6fb;
}

.container {
    display: flex;
    height: 100vh;
}

.image {
  flex: 0 0 60%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-image: url("../assests/images/hero-image.webp");
  background-size: cover;
  background-position: center;
  position: relative;
  box-shadow: 0px 0px 10px 5px;
}

.image::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.015);
}

.login-container {
  display: flex;
  flex-direction: column;
  flex: 0 0 40%;
  margin: 0 auto;
  padding: 80px;

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
  z-index: 2;
}

.login-container h1 {
  font-size: 28px;
  color: #1d1d4f;
  margin-bottom: 24px;
}

.login-container label {
  font-size: 16px;
  color: #555;
  margin-bottom: 6px;
}

.login-container input {
  width: 100%;
  height: 50px;
  padding: 0 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-top: 7px;
  margin-bottom: 16px;
  outline: none;
}

.login-container input:focus {
  border-color: #ff6a2a;
}

.logo {
    margin-bottom: 30px;
}

.forgot-password {
    display: flex;
    justify-content: end;
    margin-top: 5px;
    margin-bottom: 30px;
}

.forgot-password a {
    text-decoration: none;
    color: #1d1d4f;
}

.form-btn button{
  height: 44px;
  width: 100%;
  background: #ff6a2a;
  color: white;
  border: none;
  border-radius: 8px;
  margin-bottom: 50px;
  font-weight: 600;
  cursor: pointer;
}

.dont-have-acc {
    text-align: center;
    color: #1d1d4f;
}

.dont-have-acc a {
    color: #ff6a2a;
    cursor: pointer;
    text-decoration: none;
}

.dont-have-acc a:hover {
    color: #1d1d4f;
}