@import url("GENERAL-LAYOUT.css");

body {
  background: #f5f6fb;
}

header {
  background: #1a1a1a;
  color: #fff;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: center;
}

.header img {
  width: 160px;
}

.container {
    display: block;
}

.container h1 {
    text-align: center;
    margin: 50px 0 70px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
  gap: 1px;
}

.card {
  padding: 50px 80px 50px;
  margin: 0 60px 20px;
  border: 1px solid #ff6a2a;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(255, 106, 42, 0.25);
  background: #fff7f2;
}

.card h1 {
  margin: 0 0 30px;
}

.card p {
  margin: 0 0 25px;
  text-align: center;
  font-style: oblique;
}

.card li {
  margin: 0 0 15px;
  font-style: italic;
}

.card a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
  border: 1px solid;
  border-radius: 12px;
  padding: 10px 10px 10px;
}

.change-plan:hover {
  background-color: #cb5725;
}

.change-plan {
  background-color: #ff7439;
}

.current-plan {
    background-color: darkgray;
    cursor: default;
}

.card ul {
  margin-bottom: 50px;
}
